body {
  font-family: Shentox ,sans-serif;
}

/* Nav Header */
header nav ul li {
  display: inline-block;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #f7f8f8;
  box-shadow: 0 0 20px 10px rgb(230, 230, 230);
  
}

nav > * {
  display: inline-block;
  text-decoration: none;
}

.nav-start, .nav-end {
  vertical-align: middle;
  margin: 16px 20px;
}

.nav-start li a svg, .nav-end li a svg{
  height: 17px;
  fill:black;
  transition: fill ease 0.5s;
}

.nav-start li a svg:hover {
  transition: fill ease 0.5s;
  fill: rgb(179, 11, 179);
}

.nav-center {
  width: auto;
  margin: 0 auto;
  align-self: center;
  
}

.nav-center li a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

.nav-end {
  
}

/* logo + statement */

.logo-container {
  margin: 100px auto;
  width: 70%;
  max-width: 1300px;
}

.logo-container svg {
  height: 60px;
}

.logo-container div {
  float: right;
  font-size: 40px;
}

/* Articles */

.articles-container {
  display: flex;
  justify-content: space-between;
  height: 600px;
  width: 85%;
  max-width: 1600px;
  margin: auto;
}

.articles1, .articles2 {
  flex-basis: 50%;
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.articles-container article, .small-articles article {
  background-color: #dfdfdf;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

.small-articles {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 8px;
}

.small-article {
  height: 100%;
  width: 40%;
  flex: 1 1 20px;
}

.main-article {
  flex: 1 1 2;
  height: 150%;
}

.long-article {
  flex: 1 1 1;
  height: 100%;
}

.category, .title {
  color: white;
  display: block;
  margin-left: 20px;
}

.title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
}

.small-articles .title {
  font-size: 20px;
}



.ad-title {
  place-self: center;
  margin: auto;
  width: 70%;
  color: white;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
}

.ad-button {
  place-self: center;
  margin: auto;
  margin-top: -6%;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
}

#belon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F09%2Ffrance-ev-subsidies-cut-money-future-car-electric-budget.jpg&signature=d9683dffcf91a5644752aff6a135911e);
}

#spotify {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2021%2F04%2FCar-Thing-Hand-On-Dial-2-1536x1153-e1618338397843.jpg&signature=d74cbdb3b0ce4097d1f9228cc5b5fd94);
}

#tcl {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2021%2F04%2FFold-n-Roll-2.jpg&signature=e3614ff3e37843d0fd9473d9d496253d);
}

#sb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2016%2F02%2FiPhone-unlock.jpg&signature=9a6b1d86d56701769491e1eef6b32483) ;
}

#ad {
  background: linear-gradient(rgb(133, 133, 133), rgb(71, 71, 71));
}

/* Popular Articles */

.popular-articles-container {
  width: 100%;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  background-color: rgb(214, 214, 214);
}

.popular-articles-container h2 {
  padding: 30px 0;
  font-size: 25px;
  font-weight: 700;
  color: gray;
}

.popular-articles {
  width: 80%;
  max-width: 1500px;
  margin:  10px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.popular-article {
  display: flex;
  font-size: 15px;
  height: 100px;
  width: 100%;
  margin: 10px;
}

.num {
  color: rgb(209, 102, 120);
  font-size: 30px;
  margin: 0px 10px;
}

.desc {
  font-size: 16px;
  text-align: left;
}


/* Latest Stories */

.latest-stories {
  width: 90%;
  max-width: 1300px;
  margin: 100px auto;
}

.latest-stories h1 {
  margin: 50px 0;
  font-size: 30px;
  font-weight: 700;
}

.stories-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 48% 48%;
  justify-content: space-between;
  align-content: space-between;
}

.story {
  height: 100%;
  width: 100%;
  margin-top: 30px;
}

.story img {
  width: 100%;
}

/* Work With us Section */

.work-with-us {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}

.work-left {

}

.work-left h3 {
  font-size: 20px;
}

.work-left h4 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

.work-left p {
  font-size: 17px;
  line-height: 1.25;
  margin-bottom: 50px;
}

.work-left button {
  background-color: #00cccc;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

.work-right {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 40% 40%;
  justify-content: space-between;
  align-content: space-between;
}

.work-right p {
  position: relative;
  top: 50px;
  font-size: 20px;
  text-align: center;
}

.work-right img {
  width: 110px;
}

footer {
  margin-top: 100px;
  min-height: 500px;
  width: 100%;
  color: white;
  background-color: rgb(0, 0, 0);
}

.footer-container {
  width: 95%;
  max-width: 1300px;
  margin: auto;
  padding-top: 75px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 95% 5%;
}

.footer-logo svg {
  fill: white;
  height: 50px;
  margin-bottom: 30px;
}

.footer-logo p {
  font-size: 30px;
}

.footer-about a, .footer-more a{
  display: block;
  line-height: 1.75;
  text-decoration: none;
  font-size: 20px;
  color: #00cccc;
}

.footer-about {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer-socials {
  color: gray;
  font-size: 30px;
}

.footer-socials i {
  margin: 5px;
}